<h1>Salut! Veillez confirmer votre email</h1>

<p>
    Veillez cliquer sur le lien suivant pour confirmer votre email:<br><br>
    <a href="{{ signedUrl|raw }}">confirmer mon email</a>
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement.
</p>
