<footer class="footer text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>À propos</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Qui sommes-nous ?</a></li>
                    <li><a href="#" class="text-white">Nos valeurs</a></li>
                    <li><a href="#" class="text-white">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Navigation</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Offres</a></li>
                    <li><a href="#" class="text-white">Catégories</a></li>
                    <li><a href="#" class="text-white">Forum</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Suivez-nous</h5>
                <div class="social-icons">
                    <a href="#" class="text-white mx-2"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="text-white mx-2"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="text-white mx-2"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="text-white mx-2"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <p>&copy; 2025 Dealabs. Tous droits réservés.</p>
        </div>
    </div>
</footer>
